/* 
Box-sizing:
Es la propiedad que nos permite controlar el calculo que hace el navegador a la hora de modificar las propiedades content, padding y border. (no contiene margin ya que es un elemento externo)

*{

box-sizing: border-box;  (se recomienda usar en el selector universal siempre)

}

box-sizing: content-box(valor por defecto)

         

border-box(calcula el tamaño del elemento incluyendo el padding y el border)

*/

body {
    background-color: #333;
    color: #fff;
    margin: 0;
}



.block {
    background-color: purple;
    width: 200px;
    height: 200px;

    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    box-sizing: border-box;
    border: 5px solid red;

}